<div class="border-caption" layout="column" layout-align="center center"  hide-xs hide-sm>
  <img ng-src="assets/images/main/border.png" alt="" />
</div>
<h1 class="md-display-1 main-title">Let the mysterious Runic Stones enter your Life and enlighten your Future with Blessings</h1>
<div class="text">
  <p>The ancient Nordic people had a special alphabet, made up of powerful symbols… These runes were used for divination and special insight into your abundance, happiness, and future. Each rune holds specific knowledge that gives you incredibly accurate answers present in your life.</p>

  <p>Nearly 4,000 years ago, during the time of the Bronze Age, Scandinavia was a mysterious land filled with special beings. These were a group of tall, light-skinned giants who roamed the lands before the arrival of the vikings. We refer to them as the Norse, and their stories and beliefs have been carried down and shared with us today. Norse mythology is filled with fantastic warriors, powerful gods and goddesses, and mysterious psychic seers. Few people are, however, aware of their divination system known as the Runes.</p>

  <p>Their mighty god Odin is said to have brought this mysterious system to the humans. He is known as the seeker of all truth, and in his search to find the secrets of the world, Odin hung himself upside down on the big cosmic tree, Yggdrasil, to retrieve the secrets of the universe from the powerful World of the Spirits. This way, he could share the mysteries of the cosmos with humans…</p>

  <p>According to legend, Odin hung on the tree for 8 days, and finally received the knowledge of the world in the form of runic symbols. Each rune stands for a separate mystery of the universe! People then carved these mystical symbols into whatever they could find, including crystals, rocks, gems, or stones. They then asked the universe specific questions and cast the stones to see what answers they could receive.</p>

  <p>Casting runes is a system that anyone can use—you do not need to be a psychic or have years of experience to try it! What you will need are a set of rune stones and a guide to what each one means. Above all else, you will need a deep desire to contact the powerful universe.</p>

  <p>Used Everyday, Rune Stones can Help You Reach Unexpected Blessings.</p>

  <p>If you use your rune stones on a regular basis, you will have the possibility to connected with the universe on a very deep level. This will help you uncover your incredible potential for blessings, in 5 special areas of your life.</p>
</div>
<a ui-sref="page2" class="next-page">Next page</a>