<h1 class="md-display-1 main-title">GET READY FOR… The Most Easy-to-Use and Empowering System of Divination Created!</h1>
<div class="text">
    <p>Just from knowing that you are here reading this, I can already tell that you are ready to get control of your life energies and grow in light and joy! This is why I wanted to let you know about this incredible system that can help you reach your inner most voice and transform your negative energies into amazing rays of positivity...the Rune Stones!</p>

    <p>Using the Rune Stones will allow you to tap into the most ancient, helpful wisdom of the universe. The Stones are a way to connect with your inner knowing, your Intuitive Spirit, and to learn how to trust and build positive energies in your life. They can accurately steer you away from negativity and potential pitfalls, and into abundance, success, and peace of mind.</p>

    <p>In addition to this, the Stones will be able to clearly and quickly guide you when you feel lost in all kind of different life decisions! Just by knowing what each Stone means, you will be able to see accurate solutions to the challenges that plague you.</p>

    <p>I have seen thousands of my clients transform their lives and find the path to happiness and abundance, all by connecting to their inner self with the help of the Rune Stones. I am certain that you too, Asdf, will be able to tap into your inner wisdom and see the same benefits in your own life!</p>

    <div class="md-headline" layout-margin>Access the Answers to the Questions That Plague You the Most--Fast and Easy-to-Use –Rune Stones Will Open the Door to Your Inner Wisdom!</div>

    <p>Your own personal Rune Stones were not just any stones dug up from the ground! Lengthy research and careful attention was placed in finding the perfect gems from the womb of the Earth, which resonated at the highest energy frequencies. A small mountain village in India is home to a generations-old tradition of managing the world's most potent deposits of Amethyst.</p>

    <p>This dark Amethyst was not chosen by us by chance! You see, this gem is classified as a quartz, and has some very unique characteristics. It is the perfect stone for finding inner peace and getting in tune with the mind, which is ideal for casting Rune Stones! This is a gem that symbolizes healing, inner wisdom, dispersal of negative energy, and intuitive powers. This is many refer to it as the Stone of the Psychics, and it is said to have amazing protective powers against all troubles and negativity!</p>

    <p>We are truly lucky to have such a wonderful collaboration with this family in India. Because of them, our Rune Stones are truly unique and powerful. The best part of all of this? You have the chance to own your very own set of Gem Powered Rune Stones! You can be sure that they have been handled with amazing love and care, provided by the wonderful family that supplies them to us.</p>

    <p>We are incredibly happy to offer you this opportunity! Because we really just can't express our excitement enough, we've decided to put together a limited time offer, which lets you have your own set of Amethyst Gem Powered Rune Stones all for the price of $19.99!</p>

    <p>But, wait, there are also a few other things we want to give you!</p>

    <div class="md-headline" layout-margin>The Three Rune Mastery Guide Books for FREE!</div>

    <p>Before you decide you want to keep your Rune Stones, I want you to feel like they are right for you. If you feel like they don't help you, or that they just don't seem to work the way that you expected, you can send these beautiful Stones back to me and receive a full refund of your purchase. I want you to truly feel the benefit of these Stones, which is why I believe that you need to spend some time with them before you make your final decision.</p>

    <p>Before I forget! If you do decide to return your Rune Stones, you don't need to worry about the free gifts—they're yours to keep. I do want you to truly give these amazing Stones an honest try, and to see how much they can help you gain insight, wisdom, and blessings if you only try! Your 100% Natural Amethyst Gem Powered Rune Stones will arrive to you in a beautiful velvet bag, and will be ready for you to use immediately!</p>

    <div class="md-headline" layout-margin>This Limited-Time Offer is Ending Soon so Don't Hesitate!</div>

    <p>I hope you understand why I am selling these Rune Stone sets at this price for such a short period of time--$19 is truly a bargain for a set of this quality. This is why you should take advantage of this opportunity, dear Asdf.</p>

    <p>If you decide to simply close out of this page, you will need to know that your set of Amethyst Gem Powered Rune Stones will go on to the next interested person. The quality and effort put into these stones is simply incomparable, and you should try not to let a chance like this pass you by. I can see that you are truly a seeker of the truths of the universe, and that you feel the approaching Planetary Shift Period deeper than most. This is why a set of Rune Stones would be an amazing way to navigate the waters of your life and to take advantage of all of the cosmic and earthly energies that surround you.</p>

    <p>If you want to be sure that your Amethyst Gem Powered Rune Stones will be offered to you at just $19 (plus your 3 freebie gifts!), you need to send a request for me right now!</p>

    <p>
        <md-button ui-sref="#" class="link-btn md-warn md-raised md-hue-2">I'm ready! I would like to find answers to my life and future with the help of Amethyst Gem Powered Rune Stones!</md-button>
    </p>
</div>